{% extends 'email_base.html' %}

{% block main %}
<tr>
    <td class="wrapper">
        <p>Hi {{ first_name }},</p>
        <p>We received a request to reset your password.</p>
        <p>Click the link below or copy and paste it into your browser to reset your password (valid for 10 minutes):</p>
        <p><a href="{{ RESET_URL }}">{{ RESET_URL }}</a></p>
        <p>If you didn’t request this, you can safely ignore this email.</p>
        <p>Enjoy the Competition.</p>
        <p>Good luck!</p>
    </td>
</tr>
{% endblock %}