<p><b>Skip the hassle of manual logging – connect Strava for automatic workout imports!</b></p>
<p>Every day at 4 AM, your workouts are automatically imported, only syncing the most essential data with Strava to respect your privacy:</p>
<ul>
    <li>Sport type</li>
    <li>Start time & duration</li>
    <li>Workout id</li>
    <li>Distance, kcal, kj, avg. watt</li>
</ul>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-strava">
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td><a href="{{ MAIN_HOST }}/strava/link" target="_blank">Link Your Strava</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<hr>