{% extends 'email_base.html' %}

{% block main %}
<tr>
    <td class="wrapper">
        <p>Hi {{ first_name }},</p>
        <p>Thanks for signing up to the <b>Health Competition</b>!</p>
        <p><b>Bookmark in your browser:</b> <a href="{{ MAIN_HOST }}">{{ MAIN_HOST }}</a></p>
        <hr>
        <p><b>How does it work?</b></p>
        <ul>
            <li>Join a friend's competition or create your own.</li>
            <li>For automatic workout import, link your Strava account to the Health Competition.</li>
            <li>Before a competition starts, join a team.</li>
        </ul>
        <hr>
        <p><b>How to earn activity points?</b></p>
        <ul>
            <li>Each competition has its own activity goals.</li>
            <li>You earn <b>1 point for every 1%</b> progress toward a goal.</li>
            <li>For example, if the goal is 100 minutes of exercise and you work out 50 minutes, you earn 50 points.</li>
            <li><i>Note:</i> Some goals have <b>minimum or maximum limits</b>. Activities above/below these limits won’t earn you points and are marked with an asterisk (*).</li>
            <li>Hover over a goal to view its limits, or over the asterisk for more details.</li>
        </ul>
        <hr>
        {{ LINK_STRAVA_BLOCK }}
        <br>
        <p>Enjoy the Competition.</p>
        <p>Good luck!</p>
    </td>
</tr>
{% endblock %}