<p><b>Link Strava for automatic workout import!</b></p>
<p>Only absolutely necessary metrics are synced with Strava:</p>
<ul>
    <li>Sport type</li>
    <li>Start time & duration</li>
    <li>Workout id</li>
    <li>Distance, kcal, kj, avg. watt</li>
</ul>
<p><i>––– That's it – nothing more – we are respecting your privacy! –––</i></p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td><a href="{MAIN_HOST}/strava/link" target="_blank">Link Strava</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>