<tr>
    <td class="wrapper">
        <p>Hi {first_name},</p>
        <p>Thanks for signing up to the Health Competition!</p>
        <p><b>How does it work?</b></p>
        <ul>
            <li>Join a friend's competition using their invitation code or create your own competition.</li>
            <li>Download the Strava app, connect it to your Apple / Android / Garmin / Fitbit smartwatch, and link your Strava account to the Health Competition. Every morning at 4 am your workouts are automatically imported. If you do not want to link Strava you can also manually log your workouts.</li>
            <li>Before the competition starts, create or join a team.</li>
        </ul>
        <p><b>How do you earn activity points?</b></p>
        <ul>
            <li>Each competition has their own individual activity goals.</li>
            <li>Each 1% towards an Activity Goal earns you 1 point.</li>
            <li>E.g. if the workout goal is 100 minutes, working out 50 minutes earns you 50 points.</li>
            <li>However, there can be upper and lower limits above/below which you don't earn any points (activities that were capped/floored are indicated with an *asterix).</li>
            <li>Hover with the mouse above a goal to see its limits or above the workout's asterix for more details.</li>
        </ul>
        {LINK_STRAVA_BLOCK}
        <p>Enjoy the Health Competition.</p>
        <p>Good luck!</p>
    </td>
</tr>